---
import { Image } from "astro:assets";
import "./Price.scss";

const priceListZagorod = [
	"Продажа/покупка домов, дач, земельных участков",
	"Сопровождение сделки под ключ",
	"Консультация по всем трактам и районам Тюменской области",
	"Осмотр дома и прилегающей территории",
	"Юридическая проверка",
	"Сопровождение сделки",
	"Консультация по инвестициям в загородную недвижимость",
	"Просмотры на комфортном автомобиле",
];

const priceListSecondary = [
	"Продажа/покупка квартир",
	"Сопровождение сделки под ключ",
	"Консультация по всем районам Тюмени ",
	"Профессиональная фотосъемка квартиры",
	"Юридическая проверка",
	"Реклама объекта недвижимости",
	"Оценка недвижимости",
	"Просмотры на комфортном автомобиле",
];

const priceListIpoteka = [
	"Подача на ипотеку",
	"Знание всех ипотечных программ",
	"Консультация по ставкам и платежам",
	"Рефинансирование",
	"Страхование по ипотеке",
	"Подбор самой выгодной ставки",
	"Ставки от 5% на весь срок",
];

const priceListNewBuilding = [
	"Консультация по рынку новостроек в Тюмени",
	"Согласование и организация всех просмотров",
	"Сопровождение сделки под ключ",
	"Индивидуальные скидки",
	"Единые цены с застройщикам",
	"Дистанционная покупка",
	"Только проверенные застройщики",
	"Просмотры на комфортном автомобиле",
];

const priceListRepair = [
	"Сотрудничаю со строительными компаниями",
	"Реальная скидка на ремонт моим клиентам",
	"Рыночная стоимость",
	"Качество проверенное временем",
	"Скидки на покупки чистовых материалов",
	"Подбор самой выгодной ставки",
	"Бесплатный подсчёт сметы и замеры",
];

const priceListBuilding = [
	"Строим дома под ключ",
	"Подсчёт сметы",
	"Свои бригады профессионалов",
	"Гарантия на дом 3 года",
	"Подбор проекта",
	"Срок строительства от 3 месяцев",
	"Строительство в ипотеку от 5.3%",
];

const priceListDocuments = [
	"Подготовка договора купли-продажи",
	"Проверка договора купли-продажи",
	"Составление дарственных",
	"Проверка кредитной документации",
	"Договор выделение детских долей",
];

const priceListAccompaniment = [
	"Сопровожу Вашу сделку, если Вы уже нашли квартиру, дом, земельный участок, и вам требуется юридическая помощь по её оформлению",
];
---

<section class="price">
	<div class="container">
		<div class="price__wrapper">
			<div class="price__top">
				<h1 class="price__title">УСЛУГИ</h1>
				<h2 class="price__second-title">
					ВСЕ КОНСУЛЬТАЦИИ - БЕСПЛАТНО
				</h2>
			</div>
			<div class="price__bot">
				<article class="price__bot-article">
					<h3 class="price__bot-article-title">
						Загородная недвижимость
					</h3>
					<ul class="price__bot-article-list">
						{
							priceListZagorod.map((priceTitle) => (
								<li class="price__bot-article-item ">
									{priceTitle}
								</li>
							))
						}
					</ul>

					<span class="price__bot-article-desc"
						>от <span class="accent">50 000 руб.</span>
					</span>
				</article>

				<article class="price__bot-article">
					<h3 class="price__bot-article-title">
						Вторичная недвижимость
					</h3>
					<ul class="price__bot-article-list">
						{
							priceListSecondary.map((priceTitle) => (
								<li class="price__bot-article-item ">
									{priceTitle}
								</li>
							))
						}
					</ul>

					<span class="price__bot-article-desc price-position"
						>от
						<span class="accent">30 000 руб.</span> + <span
							class="accent">1%</span
						>
					</span>
				</article>

				<article class="price__bot-article">
					<h3 class="price__bot-article-title">Одобрение ипотеки</h3>
					<ul class="price__bot-article-list">
						{
							priceListIpoteka.map((priceTitle) => (
								<li class="price__bot-article-item article-item__bottom">
									{priceTitle}
								</li>
							))
						}
					</ul>
					<span class="price__bot-article-desc accent"
						>5 000 руб.</span
					>
				</article>

				<article class="price__bot-article">
					<h3 class="price__bot-article-title">
						Покупка новостройки
					</h3>
					<ul class="price__bot-article-list">
						{
							priceListNewBuilding.map((priceTitle) => (
								<li class="price__bot-article-item ">
									{priceTitle}
								</li>
							))
						}
					</ul>
					<span class="price__bot-article-desc accent">БЕСПЛАТНО</span
					>
				</article>

				<article class="price__bot-article">
					<h3 class="price__bot-article-title">Ремонт</h3>
					<ul class="price__bot-article-list">
						{
							priceListRepair.map((priceTitle) => (
								<li class="price__bot-article-item ">
									{priceTitle}
								</li>
							))
						}
					</ul>
					<span class="price__bot-article-desc accent">БЕСПЛАТНО</span
					>
				</article>

				<article class="price__bot-article">
					<h3 class="price__bot-article-title">Строительство дома</h3>
					<ul class="price__bot-article-list">
						{
							priceListBuilding.map((priceTitle) => (
								<li class="price__bot-article-item article-item__bottom">
									{priceTitle}
								</li>
							))
						}
					</ul>
					<span class="price__bot-article-desc accent free-size"
						>ДОГОВОРНАЯ</span
					>
				</article>

				<article class="price__bot-article">
					<h3 class="price__bot-article-title">
						Составление договора купли-продажи
					</h3>
					<ul class="price__bot-article-list">
						{
							priceListDocuments.map((priceTitle) => (
								<li class="price__bot-article-item article-item__bottom">
									{priceTitle}
								</li>
							))
						}
					</ul>
					<span class="price__bot-article-desc price-position"
						>от
						<span class="accent">10 000 руб.</span>
					</span>
				</article>

				<article class="price__bot-article height">
					<h3 class="price__bot-article-title">
						Сопрвождение сделки без поиска
					</h3>
					<ul class="price__bot-article-list">
						{
							priceListAccompaniment.map((priceTitle) => (
								<li class="price__bot-article-item article-item__bottom">
									{priceTitle}
								</li>
							))
						}
					</ul>
					<span class="price__bot-article-desc price-position"
						>от
						<span class="accent">50 000 руб.</span>
					</span>
				</article>
			</div>
		</div>
	</div>
</section>
